body {
    margin: 0px;
}

.section-title {
	color: #404040;
	font-size: 32;
	text-align: center;
	font-weight: 700;
	display: inherit;
}

.header-image {
    width: 100%;
    background-attachment: fixed;
    background-position: center top;
    background-size: cover;
	background-repeat: no-repeat;
    background-image: url("https://cloud.githubusercontent.com/assets/20343845/19401537/da6a518e-9229-11e6-909f-e995034e3725.jpg");
    padding: 150px 0;
    position: relative;
}

.header-image-gradient {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) calc(50% + 75px), rgba(0, 0, 0, 1) 100%);
 	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(calc(50% + 75px), rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 1)));
  	background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) calc(50% + 75px), rgba(0, 0, 0, 1) 100%);
  	background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) calc(50% + 75px), rgba(0, 0, 0, 1) 100%);
  	background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) calc(50% + 75px), rgba(0, 0, 0, 1) 100%);
  	background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) calc(50% + 75px), rgba(0, 0, 0, 1) 100%);
}

.text-wrapper {
    max-width: 970px;
    width: calc(100% - 64px);
    margin: 0 auto;
    padding: 32px 0;
}

nav ul, footer ul {
    font-family: sans-serif;
    padding: 0px;
    list-style: none;
    font-weight: bold;
    position: absolute;
    top: 16px;
    right: 32px;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #ccc;
}
a:hover {
    text-decoration: underline;
    color: #fff;
}

.header-image p, .header-image strong {color: #fff; letter-spacing: 1px; text-align: center; font-family: sans-serif; margin: 0;}
.header-image p {font-size: 24px; font-weight: 400;}
.header-image strong {font-size: 60px; font-weight: 800;}

.mission-statement {
    width: 100%;
    background-color: #eee;
    padding: 75px 0;
}

.mission-statement p {
    font-size: 21px;
    color: #404040;
    text-align: left;
    font-family: sans-serif;
    margin: 16px 0;
	line-height: 1.5;
}

.mission-statement strong {
    font-size: 32px;
    color: #fbd032;
    text-align: center;
    font-family: sans-serif;
}

.mission-image {
  width: 256px;
  display: inline-block;
  vertical-align: top;
}

.mission-image-container {
	border-radius: 50%;
	overflow: hidden;
	border: 1px solid #404040;
}

.mission-wrapper {
    max-width: 970px;
    width: calc(100% - 64px);
    position: relative;
    margin: 0 auto;
}

.mission-text-wrapper {
  margin-left: 32px;
  width: calc(100% - 320px);
  display: inline-block;
  vertical-align: top;
}

.big-letter {
  font-size: 500%;
  line-height: 77%;
  margin-right: 5px;
  display: inline-block;
  vertical-align: top;
  float: left;
  color: #404040;
  font-weight: 800;
}

.clips {
	width: 100%; 
	padding-bottom: 75%; 
	height: 0;
	position: relative;
}

.clips-big, .clips-small {
	position: relative;
	float: left;
}

.clips-big {
	width: 66.667%;
}

.clips-small {
	width: 33.333%;
}

.clipstwo {
	width: calc(100% - 64px);
  	text-align: justify;
    	-ms-text-justify: distribute-all-lines;
    	text-justify: distribute-all-lines;
}

.clipstwo > div {
    width: calc(33% - 32px);
    height: 0;
	padding-bottom: calc(33% - 32px);
    vertical-align: top;
    display: inline-block;
    *display: inline;
}
.stretch {
    width: 100%;
    display: inline-block;
    font-size: 0;
    line-height: 0
}

.box1, .box3 {
    background: #ccc
}
.box2, .box4 {
    background: #0ff
}

.profile {
	position: relative;
	padding: 75px 0;
	width: calc(100% - 64px);
	margin: auto;
}

.profile-wrapper {
	position: relative;
	width: 100%;
}
	

.profile-image, .profile-blurb {
	width: calc(50% - 16px);
}

.profile-image {
	background-image: url('https://cloud.githubusercontent.com/assets/20343845/19579136/074b7f94-96ed-11e6-8bdf-d2a418a9ff3b.png');
	background-repeat: no-repeat;
	background-position: center bottom;
	background-size: cover;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
}

.profile-blurb {
	font-size: 21px;
	font-family: sans-serif;
	position: relative;
}

.profile-blurb p {
	margin: 16px 0;
}
	

.mission-statement button {
	padding: 16px; 
	margin: 16px auto;  
	color: #202020; 
	text-align: center;  
	font-size: 21px;
	font-weight: 700; 
	font-family: sans-serif;
	vertical-align: bottom;
	border: 1px solid #202020;
}

.mission-statement button:hover {
	background: black; 
	transition: 0.4s;
	padding: 21px;
}
	
.videoWrapper {
    position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	height: 0; 
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.onea, .oneb, .twoa, .twob, .twoc, .threea {
	position: absolute;
	overflow: hidden;
}
.onea {
	width: 66.667%; height: 50%; background: red; top: 0; left: 0;
}
.oneb {
	width: 33.333%; height: 25%; background: blue; top: 0; left: 66.667%;
}
.twoa {
	width: 33.333%; height: 25%; background: black; top: 50%; left: 0;
}
.twob {
	width: 33.333%; height: 25%; background: green; top: 50%; left: 33.333%;
}
.twoc {
	width: 33.333%; height: 75%; background: #fbd032; top: 25%; right: 0;
}
.threea {
	width: 66.667%; height: 25%; background: pink; top: 75%; left: 0;
}
