body {
    margin: 0px;
}

a {
    text-decoration: none;
	color: inherit;
}

a:hover {
	text-decoration: none;
	color: inherit;
}

.container p {
	font-size: 16px;
    	color: #202020;
    	text-align: left;
    	font-family: sans-serif;
    	margin: 16px 0;
	line-height: 1.5;
}

.container strong {
    font-size: 24px;
}

.section-title {
	font-size: 32px;
	text-align: center;
	font-weight: 700;
	display: inherit;
	margin: 32px 0;
	font-family: sans-serif;
	color: #202020;
}

.header-image {
    width: 100%;
    background-attachment: fixed;
    background-position: center top;
    background-size: cover;
	background-repeat: no-repeat;
    background-image: url("https://cloud.githubusercontent.com/assets/20343845/19401537/da6a518e-9229-11e6-909f-e995034e3725.jpg");
    padding: 150px 0;
    position: relative;
}

.header-image-gradient {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) calc(50% + 75px), rgba(0, 0, 0, 1) 100%);
 	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(calc(50% + 75px), rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 1)));
  	background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) calc(50% + 75px), rgba(0, 0, 0, 1) 100%);
  	background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) calc(50% + 75px), rgba(0, 0, 0, 1) 100%);
  	background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) calc(50% + 75px), rgba(0, 0, 0, 1) 100%);
  	background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) calc(50% + 75px), rgba(0, 0, 0, 1) 100%);
}

.text-wrapper {
    max-width: 970px;
    width: calc(100% - 64px);
    margin: 0 auto;
    padding: 32px 0;
}

nav ul, footer ul {
    font-family: sans-serif;
    padding: 0px;
    list-style: none;
    font-weight: bold;
    position: absolute;
    top: 16px;
    right: 32px;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
nav a {
    color: #ccc;
	transition: 0.4s;
	-webkit-transition: 0.4s;
}
nav a:hover {
    color: #fff;
	transition: 0.4s;
	-webkit-transition: 0.4s;
}

.header-image p, .header-image strong {color: #fff; letter-spacing: 1px; text-align: center; font-family: sans-serif; margin: 0;}
.header-image p {font-size: 24px; font-weight: 400;}
.header-image strong {font-size: 60px; font-weight: 800;}

.mission-statement {
    width: 100%;
    background-color: #eee;
    padding: 75px 0;
}

.mission-image {
  width: 256px;
  display: inline-block;
  vertical-align: top;
}

.mission-image-container {
	border-radius: 50%;
	overflow: hidden;
	border: 1px solid #404040;
}

.mission-wrapper {
    max-width: 970px;
    width: calc(100% - 64px);
    position: relative;
    margin: 0 auto;
}

.mission-wrapper p {
	text-align: center;
}

.mission-text-wrapper {
  margin-left: 32px;
  width: calc(100% - 320px);
  display: inline-block;
  vertical-align: top;
}

.big-letter {
  font-size: 500%;
  line-height: 77%;
  margin-right: 5px;
  display: inline-block;
  vertical-align: top;
  float: left;
  color: #404040;
  font-weight: 800;
}

.clipstwo, .work-experience {
	padding: 75px 32px;
	width: calc(100% - 64px);
}

.clipstwo {
	background: #eee;
}

.clipstwo-container, .work-experience-container {
	width: 100%;
	margin: 0 auto;
  	text-align: justify;
    	-ms-text-justify: distribute-all-lines;
    	text-justify: distribute-all-lines;
}

.clipstwo-container > div, .work-experience-container > div {
    width: calc(33% - 16px);
    vertical-align: top;
    display: inline-block;
    *display: inline;
	text-align: center;
	position: relative;
}

.stretch {
    width: 100%;
    display: inline-block;
    font-size: 0;
    line-height: 0
}

.box-overlay {
	background: rgba(0,0,0,0.8);
	color: white;
	text-align: center;
	opacity: 0;
	transition: 0.2s;
	-webkit-transition: 0.2s;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	font-family: sans-serif;
}

.box-overlay:hover {
	opacity: 1;
	transition: 0.4s;
	-webkit-transition: 0.2s;
}

.box-overlay div {
width: 100%;
}

.box-overlay-top, .box-overlay-bottom {
	position: absolute;  
	left: 0; 
	transition: 0.4s;
}

.box-overlay-top {
	top: calc(50% - 48px);
	height:48px; 
	font-size:16px; 
}

.box-overlay-bottom {
	height:32px; 
	font-size:16px; 
	top: calc(50% + 48px); 
	transition: 0.4s;
}


.box-overlay:hover .box-overlay-top{
	transition: 0.4s;
	top: calc(50% - 32px);
}

.box-overlay:hover .box-overlay-bottom{
	transition: 0.4s;
	top: calc(50% + 16px);
}


.work-experience {
	background: white;
}

.work-experience p {
	text-align: center;
}

.work-experience-container {
	max-width: 970px;
}

.profile {
	position: relative;
	padding: 75px 0;
	width: calc(100% - 64px);
	margin: auto;
}

.profile-wrapper {
	position: relative;
	width: 100%;
}
	

.profile-image, .profile-blurb {
	width: calc(50% - 16px);
}

.profile-image {
	background-image: url('https://cloud.githubusercontent.com/assets/20343845/19579136/074b7f94-96ed-11e6-8bdf-d2a418a9ff3b.png');
	background-repeat: no-repeat;
	background-position: center bottom;
	background-size: cover;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
}

.profile-blurb {
	position: relative;
}	

.clipstwo button, .work-experience button, .mission-statement button {
	padding: 16px; 
	margin: 16px auto;  
	text-align: center;  
	font-size: 21px;
	font-weight: 700; 
	font-family: sans-serif;
	vertical-align: bottom;
	transition: 0.2s;
	-webkit-transition: 0.2s;
	display: inherit;
}

.clipstwo button {
	background: rgba(255,255,255,0);
	color: white;
	border: 3px solid white;
}

.work-experience button, .mission-statement button {
	background: rgba(32,32,32,0);
	color: #202020;
	border: 3px solid #202020;
	width: 228px;
}

.clipstwo button:hover, .work-experience button:hover, .mission-statement button {
	transition: 0.2s;
	-webkit-transition: 0.2s;
}

.clipstwo button:hover {
	background: rgba(255,255,255,1);
	color: black;
}

.mission-statement button:hover {
	background: rgba(32,32,32,1);
	color: #eee;
}

.work-experience button:hover {
	background: rgba(32,32,32,1);
	color: white;
}
	
.videoWrapper {
    position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	height: 0; 
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
