.header-image {
    width: 100%;
    height: 500px;
    background-image: url("https://cloud.githubusercontent.com/assets/20343845/19401537/da6a518e-9229-11e6-909f-e995034e3725.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center top;
}
p {color: #fff;}
